* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: 0px;
    line-height: 1.25;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    shape-rendering: crispEdges;
    image-rendering: optimizeQuality;
    border: none;
    background: none;
    appearance: none;
    outline: none;
}

:root {
    --black: #1f1f1f;
    --darkPurple: rgba(50, 39, 77, 0.4);
    --darkBlue: rgba(56, 69, 211, 0.1);
}

body {
    height: 3168px;
    width: 100%;
    background-color: white;
}

    header {
        height: 148px;
        width: 100%;
        background-color: var(--black);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
    }

        .logoContainer {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .logoText {
                font-size: 30px;
                font-weight: bold;
                user-select: none;
                transition: linear 0.1s;
            }

            .logoText:hover {
                color: rgb(105, 161, 105);
                transition: linear 0.1s;
            }

        .navContainer {
            height: 100%;
            width: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

            .navText {
                font-size: 18px;
                font-weight: normal;
                user-select: none;
                transition: linear 0.1s;
            }

            .navText:hover {
                color: rgb(105, 161, 105);
                transition: linear 0.1s;
            }

        .cartContainer {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .cartBox {
                height: 50%;
                width: 20%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                user-select: none;
            }

                .cartText {
                    font-size: 20px;
                    font-weight: bold;
                }

                .fa-cart-shopping {
                    color: white;
                    font-size: 20px;
                }

                .cartCard {
                    margin-top: 200px;
                    background-color: rgb(81, 96, 81);
                    height: 300px;
                    width: 300px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 30px 30px;
                    border-radius: 10px;
                    display: none;
                    cursor: default
                }

                    .cartTextContainer {
                        height: 20%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                        .cartText2 {
                            font-size: 20px;
                            font-weight: bold;
                            color: white;
                        }

                    .cartItem {
                        width: 100%;
                        height: 60%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                        .cartItemPic {
                            height: 75px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }

                        .cartItemText {
                            font-size: 18px;
                            font-weight: bold;
                            color: white;
                        }

                        .fa-circle-xmark {
                            cursor: pointer;
                        }

                    .checkoutButton {
                        height: 20%;
                        width: 80%;
                        background-color: rgb(117, 186, 117);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                        .checkoutText {
                            font-size: 15px;
                            font-weight: bold;
                        }

    main {
        height: 2714px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

        .home {
            height: 1289px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .introContainer {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(180deg, rgb(105, 161, 105), white);
            }

                .introLeft {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 100px;
                }

                    .leftUpperHalf {
                        height: 50%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .fa-seedling {
                            rotate: 27deg;
                            color: rgb(128, 197, 128);
                            transition: linear 0.5s;
                        }

                        .fa-seedling:hover {
                            rotate: -27deg;
                            transition: linear 0.5s;
                        }

                    .leftLowerHalf {
                        height: 50%;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }

                        .fa-tree {
                            rotate: -27deg;
                            color: rgb(84, 131, 84);
                            transition: linear 0.5s;
                        }

                        .fa-tree:hover {
                            rotate: 27deg;
                            transition: linear 0.5s;
                        }

                .introMiddle {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                }

                    .introHeaderText {
                        font-size: 58px;
                        letter-spacing: 1px;
                        font-weight: bold;
                        color: white;
                        transition: linear 0.3s;
                        text-align: center;
                    }

                    .introHeaderText:hover {
                        color: rgb(128, 197, 128);
                        transition: linear 0.3s;
                        user-select: none;
                    }

                    .plantPic {
                        height: 600px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        user-select: none;
                    }

                .introRight {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-right: 100px;
                }

                    .rightUpperHalf {
                        height: 50%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .fa-leaf {
                            rotate: 57deg;
                            color: rgb(78, 124, 78);
                            transition: linear 0.5s;
                        }

                        .fa-leaf:hover {
                            rotate: -57deg;
                            transition: linear 0.5s;
                        }

                    .rightLowerHalf {
                        height: 50%;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                        .fa-spa {
                            rotate: 55deg;
                            color: rgb(49, 155, 49);
                            transition: linear 0.5s;
                        }

                        .fa-spa:hover {
                            rotate: -55deg;
                            transition: linear 0.5s;
                        }

            .infoContainer {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: var(--black);
            }

                .infoBox {
                    height: 50%;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 25px;
                }

                .infoBox2 {
                    height: 50%;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    padding: 0 25px;
                }


                    .infoBoxHeader {
                        height: 30%;
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                    }

                        .infoBoxHeaderText {
                            font-size: 20px;
                            font-weight: bold;
                            color: white;
                        }

                    .infoBoxBody {
                        height: 70%;
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                    }

                        .infoBoxBodyText {
                            font-size: 16px;
                            font-weight: normal;
                            color: white;
                        }

        .productPage {
            height: 1426px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #161616;
        }

            .productLeftHalf {
                height: 100%;
                width: 40%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

                .plantPic2 {
                    height: 700px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: linear 0.3s;
                }

            .productRightHalf {
                height: 50%;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }

                .plantNameContainer {
                    height: 10%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .plantNameText {
                        font-size: 48px;
                        font-weight: bold;
                        color: rgb(117, 186, 117);
                    }

                .plantDescriptionContainer {
                    height: 40%;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }

                    .plantDescriptionText {
                        font-size: 18px;
                        color: white;
                        line-height: 2;
                    }

                .plantFeatureListContainer {
                    height: 40%;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .plantFeatureList {
                        font-size: 17px;
                        color: white;
                    }

                        .plantFeatureText {
                            line-height: 2;
                            font-weight: bold;
                        }

                .addToCartContainer {
                    height: 10%;
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .addToCartButton {
                        height: 50px;
                        width: 120px;
                        background-color: rgb(117, 186, 117);
                        border-radius: 5px;
                        font-size: 15px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .addToCartButton:active {
                        border: 3px solid green;
                        background-color: rgb(106, 169, 106)
                    }



    footer {
        height: 306px;
        width: 100%;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        .footerText {
            font-size: 18px;
            color: white;
            transition: linear 0.3s;
        }

        .footerText:hover {
            font-size: 19px;
            color: rgb(105, 161, 105);
            transition: linear 0.3s;
        }

@media screen and (max-width: 2300px) {
    .plantDescriptionText {
        line-height: 1.5;
    }

    .plantDescriptionContainer {
        width: 60%;
    }

    .plantFeatureListContainer {
        width: 60%;
    }

    .cartBox {
        width: 30%;
    }
}

@media screen and (max-width: 2000px) {
    .plantPic2 {
        height: 500px;
    }

    .infoBox {
        height: 80%;
    }

    .infoBox2 {
        height: 80%;
    }

    .introHeaderText {
        font-size: 50px;
    }
}

@media screen and (max-width: 1600px) {
    .plantDescriptionText {
        line-height: 1.5;
    }

    .plantDescriptionContainer {
        width: 80%;
    }

    .plantFeatureListContainer {
        width: 80%;
    }

    .introHeaderText {
        font-size: 44px;
    }

    .plantPic {
        height: 500px;
    }

    .infoBoxHeaderText {
        font-size: 18px;
    }

    .infoBoxBodyText {
        font-size: 14px;
    }

    .navContainer {
        width: 20%;
    }

    .cartBox {
        width: 50%;
    }

    .infoBoxHeader {
        width: 80%;
    }

    .infoBoxBody {
        width: 80%;
    }
}

@media screen and (max-width: 1400px) {
    .plantPic2 {
        height: 400px;
    }

    .fa-seedling {
        font-size: 50px;
    }

    .fa-tree {
        font-size: 50px;
    }

    .fa-leaf {
        font-size: 50px;
    }

    .fa-spa {
        font-size: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .plantFeatureText {
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px) {
    .plantNameText {
        font-size: 40px;
    }

    .plantPic2 {
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .plantDescriptionText {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    .cartBox {
        width: 70%;
    }

    header {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 800px) {
    .productPage {
        flex-direction: column;
        padding: 50px 50px
    }

    .productLeftHalf {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .productRightHalf {
        width: 100%;
        height: 50%;
        justify-content: flex-start;
    }

    .plantDescriptionContainer {
        height: 30%;
    }

    .plantFeatureListContainer {
        height: 30%;
    }

    .navContainer {
        width: 40%;
    }

    .infoContainer {
        flex-direction: column;
        height: 30%;
    }

    .introContainer {
        height: 70%;
    }

    .infoBox {
        height: 33%;
        width: 100%;
        padding: 25px 25px;
    }

    .infoBox2 {
        height: 33%;
        width: 100%;
        padding: 25px 25px;
        border: 0;
    }

    .plantPic {
        height: 400px;
    }

    .introHeaderText {
        font-size: 38px;
    }
}

@media screen and (max-width: 600px) {
    .productPage {
        flex-direction: column;
        padding: 50px 50px
    }

    .productLeftHalf {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .productRightHalf {
        width: 100%;
        height: 50%;
        justify-content: flex-start;
    }

    .plantDescriptionContainer {
        height: 30%;
        width: 100%;
    }

    .plantFeatureListContainer {
        height: 30%;
        width: 100%;
    }

    .cartBox {
        width: 90%;
    }

    .logoText {
        font-size: 26px;
    }

    .infoBox {
        padding: 15px 0px;
    }

    .infoBox2 {
        padding: 15px 0px;
    }
}
